@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box; font: 13px "맑은 고딕", sans-serif;}
li{list-style: none;}
a{text-decoration: none; display: block; color: black;}


#top{width: 100%; height: 100px; background: pink; }
#header{width: 1200px; height: 100px; margin: 0 auto; position: relative;}
#header>#logo{width: 200px; height: 100px;}
#header>#menu>.gnb{display: flex; position: absolute; top: 50px; right: 20px; z-index: 10;}
#header>#menu>.gnb>li>a{width: 150px; height: 50px; background: gray; font-size: 1.2rem; font-weight: bold; text-align: center; line-height: 50px; color: white;}
#header>#menu>.gnb>li>a:hover{background: black; color: white; }
#header>#menu>.gnb>li>.lnb{display: none;}
#header>#menu>.gnb>li>.lnb>li>a{width: 150px; height: 50px; background: lightgray; font-size: 1.2rem; text-align: center; line-height: 50px;}
#header>#menu>.gnb>li>.lnb>li>a:hover{background: gray; color: white;}
#header>#menu>#bg_menu{width: 1180px; height: 200px; background: lightgray; display: none; position: absolute; z-index: 9;}



#wrap{width: 1200px; height: 500px; margin: 0 auto;}
#slide{width: 1200px; height: 300px; overflow: hidden;}
#slide>#all_slide{width: 3600px; height: 300px; display: flex; position: relative;}
#slide>#all-slide>.slider{width: 1200px; height: 300px;}
#slide>#all-slide>.slider img{width: 1200px; height: 300px; display: block;}




#contents{width: 1200px; height: 200px; display: flex;}
#contents>.cont{width: 400px; height: 200px; background: #eee;}
#contents>#cont1{padding: 10px 0 10px 10px;}
#contents>#cont1>ul>li{width: 390px; height: 30px; border-bottom: 1px solid black;}
#contents>#cont1>ul>li:last-child{border: none;}
#contents>#cont1>ul>li>a{line-height: 33.4px; padding-left: 10px;}
#contents>#cont1>ul>li>a:hover{color: orange; font-size: 1.05rem;}
#contents>#cont2{display: flex; justify-content: space-around; padding: 10px 0 0 10px;}
#contents>#cont2>a>img{width: 120px;}
#contents>#cont3{padding: 10px;}
#contents>#cont3>a>img{width: 380px; height: 180px;}


#down{width: 100%; height: 100px; background: pink;}
#footer{width: 1200px; height: 100px; margin: 0 auto; display: flex;}
#footer>#foot>#foot_menu{width: 1000px; height: 30px; padding: 6px;}
#footer>#foot>#foot_copy{width: 1000px; height: 70px; padding: 6px;}
#footer>#foot_site{width: 200px; height: 100px; padding: 6px; text-align: right;}






#popup{width: 500px; height: 350px; border: 5px solid black; text-align: center;  background: white; padding: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: none;}
#popup>p:first-child{font-size: 1.1rem;}
#popup>p:last-child{padding-top: 30px;}
#popup>p>a{ width: 50px; height: 20px; background: pink; float: right;}



























